@font-face {
	font-family: "source-sans-pro";
	src: url(fonts/SourceSansPro.ttf);
}

@font-face {
	font-family: "karmina";
	src: url(fonts/Karmina.otf);
}

@font-face {
	font-family: "voltage";
	src: url(fonts/Voltage.ttf);
}

*
{
	margin: 0;
}

body
{
	display: block;
	background: #fafafa;
}

section
{
	width: 100%;
	height: 360px;
	margin: 10% auto 30px;
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
	flex-wrap: wrap;
}

.textset_block
{
	width: 365px;
	height: inherit;
	box-sizing: border-box;
	padding: 24px 0 0 24px;
	box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
	background: #ffffff;
}

.textset_header
{
	width: 93px;
	height: 18px;
	font-family: "source-sans-pro";
	font-size: 14px;
	text-transform: uppercase;
	color: #9b9b9b;
}

.typeface_block
{
	margin-top: 20px;
}

.typeface_header
{
	height: 20px;
	font-size: 16px;
	font-family: "source-sans-pro";
	color: #4a4a4a;
}

.typeface_btn
{
	display: flex;
	margin-top: 8px;
	position: relative;
}

.typeface_active
{
	width: 58px;
	height: 58px;
	border: 2px solid #000000;
	position: absolute;
	left: 0;
	cursor: pointer;
	transition: all 0.1s ease-in;
}

.ab_btn
{
	width: 60px;
	height: 60px;
	background: #ededed;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "source-sans-pro";
	font-size: 24px;
	cursor: pointer;
}

.karmina
{
	margin: 0 16px;
}

.styling_block
{
	margin-top: 20px;
}

.styling_header
{
	font-family: "source-sans-pro";
	font-size: 16px;
	color: #4a4a4a;
}

.styling_btn
{
	margin-top: 8px;
	display: flex;
}

.font_btn
{
	font-family: "source-sans-pro";
	font-size: 24px;
	cursor: pointer;
}

.bold
{
	margin: 0 17px;
	color: #a6a6a6;
}

.italic
{
	color: #a6a6a6;
}

.bg_block
{
	margin-top: 20px;
}

.bg_header
{
	font-family: "source-sans-pro";
	font-size: 16px;
	color: #4a4a4a;
}

.bg_btn
{
	display: flex;
	margin-top: 8px;
}

.bg_circle
{
	width: 32px;
	height: 32px;
	margin-right: 12px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	cursor: pointer;
	transition: font-size 0.2s ease-in 0.1s;
}

.blue
{
	background: #4990e2;
	font-size: 18px;
}

.green
{
	background: #1fcc6d;
	font-size: 0;
}

.yellow
{
	background: #f1c40f;
	font-size: 0;
}

.gray
{
	background: #34495e;
	font-size: 0;
}

.white
{
	background: #ecf0f1;
	font-size: 0;
}

.textprev_block
{
	width: 555px;
	height: 360px;
	background-color: #4990e2;
	box-sizing: border-box;
	padding: 24px 0 32px 24px;
	position: relative;
	transition: background 0.3s ease-out 0.1s;
}

.textprev_header
{
	font-family: "source-sans-pro";
	font-size: 14px;
	color: #000000;
	text-transform: uppercase;
}

.lorem_text
{
	width: 100%;
	font-family: "source-sans-pro";
	font-size: 48px;
	text-align: center;
	color: #ffffff;
	position: absolute;
	top: calc(50% - 33px)
}

.font_name_block
{
	display: flex;
	font-family: "source-sans-pro";
	font-size: 14px;
	color: #000000;
	position: absolute;
	left: calc(50% - 57px);
	bottom: 32px;
}

.font_name_style, .font_name_ital
{
	text-transform: capitalize;
}


@media screen and (max-width: 920px) {

	section
	{
		height: auto;
	}
	
	.textset_block
	{
		width: 555px;
		height: auto;
	}

	.big_set_block
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}

	.typeface_block
	{
		display: flex;
    	flex-direction: column;
    	align-items: center;
	}

	.styling_block
	{
		display: flex;
    	flex-direction: column;
    	align-items: center;
	}

	.bg_block
	{
		width: 80%;
		margin-bottom: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.bg_btn
	{
		width: inherit;
		justify-content: space-evenly;
	}

}